.crumb{
  height: 54px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
}
.sort{
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #2E2E2E;
  .sortL{
    float: left;
    font-size: 22px;
    .sortItem{
      display: inline-block;
      cursor:pointer;
      &.active{
        border-bottom: 3px solid #ff7300;
        color: #ff7300;
        font-weight: bold;
      }
    }
    .line{
      height: 20px;
      width: 0;
      display: inline-block;
      border-left: 1px solid #E5E5E5;
      margin: 0 20px;
      margin-bottom: -2px;
    }
  }
  .sortR{
    float: right;
    width: 470px;
    font-size: 14px;
    .sortItem{
      float: right;
      text-align: right;
      cursor: pointer;
      position: relative;
      margin-left: 30px;
      &:hover{
        color: #ff7300;
      }
      &.active{
        color: #ff7300;
      }
      &:not(:last-child)::before {
        position: absolute;
        content: '';
        left: -16px;
        top: 16px;
        height: 18px;
        width: 0;
        border: 1px solid #eee;
      }
      .jiantou{
        width: 16px;
        height: 16px;
        margin-bottom: -3px;
        margin-left: 4px;
        display: inline-block;
        background: url('../../img/jiang.png') no-repeat;
        &.asc{
          background: url('../../img/shen.png') no-repeat;
        }
        &.desc{
          background: url('../../img/shen.png') no-repeat;
          transform: rotate(180deg);
        }
      }
    }
  }
}